{% extends 'envgroups/main.html' %}

{% block main %}
<div id="about-content">
<div class="about-person">
<img class="person-photo" src="/static/envgroups/img/eli.jpg">
<h1 class="about-header">Eliot Kersgaard</h1><p>Eliot is a Biomimicry leader, educator, and consultant with experience in permaculture, empathy and systems thinking design philosophies, and local networking. His passion is promoting collaboration between problem solvers to build a sustainable future.</p>
</div>

<div class="about-person">
<img class="person-photo" src="/static/envgroups/img/ele.jpg">
<h1 class="about-header">Elana Hansen</h1><p>With an eye for design, Elena communicates our mission in a variety of mediums for marketing and successful group representation. She is passionate about the role of design and knowledge of materials and how we construct our environment can be leveraged to help the environment.</p>
</div>

<div class="about-person">
<img class="person-photo" src="/static/envgroups/img/bra.jpg">
<h1 class="about-header">Braeden Miguel</h1><p>As an entrepreneurial innovator at heart with experience in design thinking, business, and sustainability, Braeden creates tangible deliverables to reach our goals. He uses his startup experience to develop our business and maximize his positive world impact.</p>
</div>

<div class="about-person">
<img class="person-photo" src="/static/envgroups/img/dom.jpg">
<h1 class="about-header">Dominic Fraser</h1><p>Dominic’s interest in interpersonal relationships and study of social dynamics helps create the collaborative environment to connect stakeholders. His passion is to help fix the societal-induced mental health problems through holistic living.</p>
</div>

<div class="about-person">
<img class="person-photo" src="/static/envgroups/img/ted.jpg">
<h1 class="about-header">Ted Thayer</h1><p>Ted creates long term strategy for executing and maintaining MyCoNet to maximize value for stakeholders. His passion is working on interdisciplinary projects to generate positive world impact and create transformative technologies.</p>
</div>

<div class="about-person">
<img class="person-photo" src="/static/envgroups/img/cass.jpg">
<h1 class="about-header">Cassidy Thompson</h1><p>As an expert web designer, Cassidy creates and evolves the back-end functionality that facilitates our innovative platform. His passion is using modern technology to create platforms for improving collaboration and integration of science and society.</p>
</div>
</div>
{% endblock %}
