{% extends 'envgroups/main.html' %}
{% block content %}
{% load staticfiles %}
        <div style="margin-top:50px"></div>
<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>About Us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
               <br>
 <p>MyCoNet is a community project of <a href="https://www.facebook.com/Boulder-Biomimicry-450873455097650/">Boulder Biomimicry</a> that promotes collaboration and community engagement of all forms in Boulder and beyond. In addition to developing this online platform, we host monthly collaboration workshops the first Saturday of every month at Alfalfa’s Boulder from 4-8 PM. We are also engaged in facilitating collaborative community projects. We are partnered with the <a href="http://www.permacultureaction.org/">Permaculture Action Network</a> and <a href="http://solutionsvoyage.org/">Solutions Voyage</a> to bring collaboration and direct action to music events in the Denver and Boulder area.</p>
<br>
<p>We exemplify collaboration by synergizing our diverse talents to advance our mutual goal of increasing ecosocial cohesion. Our core team has passionately executed several projects over the past two years and have cultivated the concept of MyCoNet since its inception over one year ago. We are currently seeking web developers willing to work for equity.</p>
            </div>
        </div>
        <br>
        <div style="border-top: 1px solid #848B96"></div>
        <br>
        <br>
        <div class="row">
            <!--Eliot Kersgaard-->
            <div class="col-xs-12 col-md-4">
                <p class="text-center"><img src="{% static 'envgroups/img/eliot.jpg' %}" alt="Eliot" height="150px"/></p>
                <h3 class="text-center">Eliot Kersgaard</h3>
                <p>Eliot is a Biomimicry leader, educator, and consultant with experience in permaculture, empathy and systems thinking design philosophies, and local networking. His passion is promoting collaboration between problem solvers to build a sustainable future.</p>
                <br>
            </div>
            <!--Elena Hansen-->
            <div class="col-xs-12 col-md-4">
                <p class="text-center"><img src="{% static 'envgroups/img/elana.jpg' %}" alt="Eliot" height="150px"/></p>
                <h3 class="text-center">Elena Hansen</h3>
                <p>With an eye for design, Elena communicates our mission in a variety of mediums for marketing and successful group representation. She is passionate about the role of design and knowledge of materials and how the way we construct our environment can be leveraged to help the environment.</p>
                <br>
            </div>
            <!--Braeden Miguel-->
            <div class="col-xs-12 col-md-4">
                <p class="text-center"><img src="{% static 'envgroups/img/braeden.jpg' %}" alt="Eliot" height="150px"/></p>
                <h3 class="text-center">Braeden Miguel</h3>
                <p>As an entrepreneurial innovator at heart with experience in design thinking, business, and sustainability, Braeden creates tangible deliverables to reach our goals. He uses his startup experience to develop our business and maximize his positive world impact.</p>
                <br>
            </div>
        </div>
        
        <div class="row">
            <!--Dominic Fraser-->
            <div class="col-xs-12 col-md-4">
                <p class="text-center"><img src="{% static 'envgroups/img/dominic.jpg' %}" alt="Eliot" height="150px"/></p>
                <h3 class="text-center">Dominic Fraser</h3>
                <p>Dominic’s interest in interpersonal relationships and study of social dynamics helps create the collaborative environment to connect stakeholders. His passion is to help fix the societal-induced mental health problems through holistic living.</p>
                <br>
            </div>
            <!--Ted Thayer-->
            <div class="col-xs-12 col-md-4">
                <p class="text-center"><img src="{% static 'envgroups/img/ted.jpg' %}" alt="Ted Thayer" height="150px"/></p>
                <h3 class="text-center">Ted Thayer</h3>
                <p>Ted creates long term strategy for executing and maintaining MyCoNet to maximize value for stakeholders. His passion is working on interdisciplinary projects to generate positive world impact and create transformative technologies.</p>
                <br>
            </div>
            <!--Cassidy Thompson-->
            <div class="col-xs-12 col-md-4">
                <p class="text-center"><img src="{% static 'envgroups/img/cassidy.jpg' %}" alt="Cassidy Thompson" height="150px"/></p>
                <h3 class="text-center">Cassidy Thompson</h3>
                <p>As an expert web developer, Cassidy creates and evolves the back-end functionality that facilitates our innovative platform. His passion is using modern technology to create platforms for improving collaboration and integration of science and society.</p>
            </div>
        </div>
    </div>
    </div><!--end container-->
{% endblock %}

