{% extends 'envgroups/main.html' %}
{% block content %}
{% load staticfiles %}
       
    <div class="row">
        <div class="col-xs-12">
            <img src="{% static 'envgroups/img/Mycelium_Big.jpg' %}" style="margin-top: 0px; width: 101%;"/>
        </div>
    </div>

<div style="margin-top:50px"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>MyCoNet: Inspired by Nature</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
               <br>
<p>MyCoNet was created using the Biomimicry design methodology, which draws inspiration from nature to yield functional solutions that often exceed humanities’ seemingly clever fixes.</p>
<br>
<h5>Our question to nature was simply: “How might we create community connection and collaboration?”</h5>
<br>
<p>We identified mutualism as nature’s equivalent for human collaboration, and one group of organisms stood out as a true champion for fostering symbiosis and networking communities. Mycorrhizal fungi are a functional classification of fungi that associate with the roots of at least two plants to facilitate overall system growth and are present in every terrestrial ecosystem. Simard et al (2012) produced an excellent review of the behaviors of these extraordinary fungi.</p>
<br>
<p>The functionary attribute of mycorrhizae that distinguishes them from other fungi is how they network with plant roots. These networks, referred to as mycelial networks , are critical to connecting terrestrial ecosystems with mutualism and feedback loops. The strategies they employ to do so are applied here to connect humans to others and their communities.</p>
<br>
<p>Mycelial networks allow individual constituents of a system to benefit from the diversity of the whole; diversity cre¬ates resiliency. The foundation of mycelial networks rests on two components: the states of the plants, and the relationships between the plants. Mycelial networks uniquely process and respond to these two types of information. The states of plants include such things as their genetic identity, their nutrient availability, their nutrient needs, their photosynthetic produc¬tion, and the presence of pests and disease. The relationships between plants include physical proximity, root grafting, competition for re¬sources, allelopathy, and the existence of mycelial networks. All of these factors are subject to change acute¬ly (such as a tree death) and cyclically (such as changing rates of photosynthesis based on the season).</p>
<br>
<p>We can create a more connected ecosocial system by introducing mutualism and feedbacks between different stakeholders. Like mycelial networks, we build MyCoNet autonomously outwards in all directions to incorporate all possible mutualistic collaborations. Mycelial networks leverage the strengths of individual components of terrestrial environments to create ecosystems which are more robust than the sum of their parts. We will have a similar effect on the local environmental justice movement and build a strategy that can be replicated elsewhere to move the world towards balance. MyCoNet is the tool that can improve a system by allowing stakeholders to find and address their needs while offering their skills and resources so that collaboration is manifested. </p>
<br>
<p>The mycorrhizae expend energy to make first contact with its partners, and so do we. Operating without any incentive beyond potential positive impact to Boulder and the world is difficult and time consuming. Thus, we appreciate any donations such as time, money, food, shelter, connections, or skills that you can help us with to allow us to continue our efforts.</p>
<br>
<h4>See MyCoNet's first iteration, focused on improving the food system:    <a href="static/envgroups/img/foodnet.pdf"  download> Download our FoodNet Paper </a></h4>        
</div>
    </div>
        </div>
{% endblock %}

