{% extends 'envgroups/main.html' %}
{% block main %}
    <div class="search-bar">
        <form method="POST" action="/events/"> {% csrf_token %}
            <div id="searchbar">
                Search:<input type="text" name="search_term">
                <input type="submit" value="Search">
            </div>
        </form> 
    </div>
    {% for event in events %}
      <div class="group-container">
        <a href=/events?event_id={{ event.id }}>
            {{ event.name }}
        </a>
        <p>Group: {{ event.group }}</p>
        <p>Time: {{ event.time }}</p>
        <p>Location: {{ event.location }}</p>
        <p>Description: {{ event.description }}</p>
        <p>Link: <a href="{{event.link}}">{{event.link}}</a></p>
        <p>Category:
        {% if event.food %}
            Food
        {% endif %}
        {% if event.social %}
            Social
        {% endif %}
        {% if event.energy %}
            Energy
        {% endif %}
        {% if event.activism %}
            Activism
        {% endif %}
        {% if event.environment %}
            Environment
        {% endif %}
        {% if event.projects %}
            Projects
        {% endif %}
        {% if event.arts %}
            Arts
        {% endif %}
        {% if event.education %}
            Education
        {% endif %}
        {% if event.policy %}
            Policy
        {% endif %}
        {% if event.wellness %}
            Wellness
        {% endif %}
      </p>
      </div>
    {% endfor %}
{% endblock %}
