{% extends 'envgroups/main.html' %}
{% block content %}
{% load staticfiles %}

    <div class="row">
        <div class="col-xs-12">
            <img src="{% static 'envgroups/img/banner.jpg' %}" style="margin-top: 0px; width: 101%;"/>
        </div>
    </div>

<div class="container">
    <br>
    <div class="row">
        <div class="col-xs-12">
            <h1>My Collaborative Network: Unifying Ecosocial Action</h1>
<br>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Want to get involved in ecosocial action? Currently innovating and need collaborative partners? </h4>
<p>Just as mycorrhizal fungi channels nutrients and information between otherwise disconnected plants to promote overall forest health, MyCoNet connects the ecosocial community via our freely accesible database, creative collaboration workshops, and community action projects. </p>
<h4>Check us out and get engaged, Earth needs you!</h4>    
<br>
<h4><a href="http://goo.gl/forms/ndp93xodOb"> Take This Survey for a Chance to Win a $100 Amazon Gift Card! </a></h4>
<br>
<h4>Find out more:    <a href="static/envgroups/img/proposal.pdf"  download> Download our Climate CoLab Proposal </a></h4>
        </div>
    </div>
    <br>
        <div style="border-top: 1px solid #848B96"></div>
    <br>
    <!--start three columns-->
    <div class="row">
<div class="col-xs-12 col-sm-6 col-lg-4">
       	<p class="text-center"><a href="http://www.solutionsvoyage.org" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Feature-sovo','','Feature-sovo2',1)"><img src="{% static 'envgroups/img/sovo1.png' %}" alt="solutionsvoyage.org" width="360" height="300" id="Feature-sovo"></a> 
</p>
<br>
</div>
<div class="col-xs-12 col-sm-6 col-lg-4"><p class="text-center"><a href="https://www.facebook.com/events/201848633515069/" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Feature-myco','',"{% static 'envgroups/img/firstsat2.png' %}",1)"><img src="{% static 'envgroups/img/firstsat1.png' %}" alt="facebook.com/events/201848633515069" width="360" height="300" id="Feature-myco"></a>
</p>
<br>
</div>
<div class="col-xs-12 col-sm-6 col-lg-4"><p class="text-center"><a href="http://www.permacultureaction.org/" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Feature-pean','',"{% static 'envgroups/img/pean2.png' %}",1)"><img src="{% static 'envgroups/img/pean1.png' %}" alt="permacultureaction.org" width="360" height="300" id="Feature-pean"></a>
</p>
<br>
</div>
<div class="col-xs-12 col-sm-6 col-lg-4"><p class="text-center"><a href="http://www.myconet.us/blog" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Feature-blog','',"{% static 'envgroups/img/myco1.png' %}",1)"><img src="{% static 'envgroups/img/myco1.png' %}" alt="www.myconet.us/blog" width="360" height="300" id="Feature-blog"></a>
</p>
<br>
</div>
<div class="col-xs-12 col-sm-6 col-lg-4"><p class="text-center"><a href="http://www.c3boulder.co" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Feature-blog','',"{% static 'envgroups/img/c3.png' %}",1)"><img src="{% static 'envgroups/img/c3.png' %}" alt="www.c3boulder.co" width="360" height="300" id="Feature-c3"></a>
</p>
<br>
</div>
<div class="col-xs-12 col-sm-6 col-lg-4"><p class="text-center"><a href="https://www.facebook.com/events/952890554801386/" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Feature-blog','',"{% static 'envgroups/img/earthfest.png' %}",1)"><img src="{% static 'envgroups/img/earthfest.png' %}" alt="facebook.com/events/952890554801386/" width="360" height="300" id="Feature-blog"></a>
</p>
<br>
</div>
    </div><!--end row-->
</div><!--end container-->
{% endblock %}
