<html>
  <head>
      {% block title %}
         <title>MyCoNet</title>
      {% endblock %}
  </head>
  <body>
      <!--Default Navigation Bar-->
      <div style="width:100%;background-color:green;height:50px;" id="navbar">
          <a style="float:left;clear:none;width:100px;background-color:blue;display:block;height:46px;padding-right:5px;" href="">Home</a>
          <a style="float:left;clear:none;width:100px;background-color:blue;display:block;height:46px;padding-right:5px;" href="">About</a>
          <a style="float:left;clear:none;width:100px;background-color:blue;display:block;height:46px;padding-right:5px;" href="">Log</a>
      </div>
      {% block main %}
      {% endblock %}
  <body>
</html>
