<html>
  <head>
      {% block title %}
         <title>MyCoNet</title>
      {% endblock %}
      {% load staticfiles %}
      <link href="{% static 'envgroups/css/envgroups.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'envgroups/img/small-earth.png' %}" rel="icon" type="image/png">
      {% block additional_headers %} {% endblock %}
  </head>
  <body>
      <!--Default Navigation Bar-->
      <img style="width:100%;" src="{% static 'envgroups/img/banner.jpg' %}">
      <div id="navbar">
          <img src="{% static 'envgroups/img/small-earth.png' %}" id="earth-icon">
          <a href="/" class="banner-link">Home</a>
          <a href="/about" class="banner-link">About</a>
          <a href="/groups" class="banner-link">Groups</a>
          <a href="/events" class="banner-link">Events</a>
          {% if user.is_authenticated %}
              <a href="/logout" class="banner-link" id="login-link">Logout</a>
          {% else %}
              <a href="/login" class="banner-link" id="login-link">Login</a>
          {% endif %} 
      </div>
      {% block main %}
      {% endblock %}
      <div id="events-footer">
          <a href="">Upcoming Event: MyCoNet Launch Party</a>
      </div>
  <body>
</html>
